.background {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: url("../img/arka.jpg") no-repeat center center fixed;
      z-index: 1;
      /* These three lines are for transparency in all browsers. */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=50);
      opacity: .3;
	  background-size:cover;
    }
  .container {
      position: relative;
    }
    .content {
      position: relative;
      color: black;
      z-index: 5;
    }
